.home {
  width: 100%;
}

.home__section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home__section--1 {
  height: 835px;
  position: relative;
}

.home__section--1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(31, 31, 31, 0.6) 0%, rgba(31, 31, 31, 0.3) 100%);
  pointer-events: none;
}

.home__section--2 {
  height: 1055px;
  background-color: #f8f9fa;
}

.home__section--3 {
  height: 966px;
  background-color: #fff;
}

.home__section--4 {
  height: 459px;
  background-color: #f8f9fa;
}

.home__section--5 {
  height: 1115px;
  background-color: #fff;
}

.home__section--6 {
  height: 1104px;
  background-color: #f8f9fa;
}

.home__section--7 {
  height: 1230px;
  background-color: #fff;
}

.home__content {
  width: 100%;
  max-width: 1920px;
  padding: 0 40px;
}

/* 반응형 디자인 */
@media (max-width: 1024px) {
  .home__section--1 {
    height: 600px;
  }

  .home__section--2 {
    height: 800px;
  }

  .home__section--3 {
    height: 700px;
  }

  .home__section--4 {
    height: 350px;
  }

  .home__section--5 {
    height: 850px;
  }

  .home__section--6 {
    height: 850px;
  }

  .home__section--7 {
    height: 950px;
  }
}

@media (max-width: 768px) {
  .home__content {
    padding: 0 20px;
  }

  .home__section--1 {
    height: 500px;
  }

  .home__section--2 {
    height: 600px;
  }

  .home__section--3 {
    height: 550px;
  }

  .home__section--4 {
    height: 300px;
  }

  .home__section--5 {
    height: 700px;
  }

  .home__section--6 {
    height: 700px;
  }

  .home__section--7 {
    height: 800px;
  }
}
